LabelPrinting/Testing/Service References/LabelPrinting/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GenerateLabelPreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputBytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="printerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLabelPreviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLabelPreviewResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>